<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>INFO445 rocket</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
        <!--<link rel="stylesheet" href="static/main.css" />-->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
        <script src="js/main.js"></script>
    </head>
    <body>
        <header>
            <h1 style="text-align:center;">rocket_db</h1>
        </header>

        <div class="container">
            <div class="row">
                <h2>Update Player Level</h2>
                <form class="form-horizontal" method="post">
                    <input type="hidden" name="whatToDo" value="updatePlayerLevel" />
                    <div class="form-group">
                        <label for="inputFName" class="control-label col-xs-2">Player First Name</label>
                        <div class="col-xs-10">
                            <input type="text" class="form-control" id="inputFName" placeholder="First Name" name="fname">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputLName" class="control-label col-xs-2">Player Last Name</label>
                        <div class="col-xs-10">
                            <input type="text" class="form-control" id="inputLName" placeholder="Last Name" name="lname">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputEmail" class="control-label col-xs-2">Player Email</label>
                        <div class="col-xs-10">
                            <input type="email" class="form-control" id="inputEmail" placeholder="Email" name="email">
                        </div>
                    </div>
                     <div class="form-group">
                        <label for="inputLevel" class="control-label col-xs-2">Player Level</label>
                        <div class="col-xs-10">
                            <select class="form-control" id="inputLevel" name="level">
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-offset-4 col-xs-4">
                            <button style="width:100%;" type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </div>
                </form>
            </div>

            <div class="row">
                <h2>Delete Player</h2>
                <form class="form-horizontal" method="post">
                    <input type="hidden" name="whatToDo" value="deletePlayer" />
                    <div class="form-group">
                        <label for="inputFName" class="control-label col-xs-2">Player First Name</label>
                        <div class="col-xs-10">
                            <input type="text" class="form-control" id="inputFName" placeholder="First Name" name="fname">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputLName" class="control-label col-xs-2">Player Last Name</label>
                        <div class="col-xs-10">
                            <input type="text" class="form-control" id="inputLName" placeholder="Last Name" name="lname">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputEmail" class="control-label col-xs-2">Player Email</label>
                        <div class="col-xs-10">
                            <input type="email" class="form-control" id="inputEmail" placeholder="Email" name="email">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-offset-4 col-xs-4">
                            <button style="width:100%;" type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </div>
                </form>
            </div>

            <div class="row">
                <h2>Insert Player</h2>
                <form class="form-horizontal" method="post">
                   <input type="hidden" name="whatToDo" value="insertPlayer" />
                    <div class="form-group">
                        <label for="inputFName" class="control-label col-xs-2">Player First Name</label>
                        <div class="col-xs-10">
                            <input type="text" class="form-control" id="inputFName" placeholder="First Name" name="fname">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputLName" class="control-label col-xs-2">Player Last Name</label>
                        <div class="col-xs-10">
                            <input type="text" class="form-control" id="inputLName" placeholder="Last Name" name="lname">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputEmail" class="control-label col-xs-2">Player Email</label>
                        <div class="col-xs-10">
                            <input type="email" class="form-control" id="inputEmail" placeholder="Email" name="email">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputUsername" class="control-label col-xs-2">Player Username</label>
                        <div class="col-xs-10">
                            <input type="text" class="form-control" id="inputUsername" placeholder="Username" name="username">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputLevel" class="control-label col-xs-2">Player Level</label>
                        <div class="col-xs-10">
                            <select class="form-control" id="inputLevel" name="level">
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-offset-4 col-xs-4">
                            <button style="width:100%;" type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <!--<div class="login-inputs">
          <h2 id="test">example of entry into database</h2>
          <span>PlayerID<input type="text" id="PlayerIDField"/></span>
          <span>level <input type="text" id="level"/></span> 
          <span id="result1">feedback that determines success</span>
          <button id="submit1">Submit</button>
          -->
          <button id="btn-showAllPlayers" type="submit" class="btn btn-info"><i class="icon-hand-right">
          </i>Show Top 100 players</button> <!--
          <button id="btn-updatePlayerLevel" type="submit" class="btn btn-info"><i class="icon-hand-right">
          </i>Update Player</button>
          <form method="post" action="/">
            <input type="text" name="PlayerID">
            <input type="text" name="whatToDo">
            <input type="submit">
          </form>
          -->
        <div class="container">
          <table class="table table-striped">
            <thead>
              <tr id="tablehead">

              </tr>
            </thead>
            <tbody id="resultsTable">
            </tbody>
          </table>
      </div>
	    <!-- </div>-->
    </body>
</html>